# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
launch.json

# Docker
Dockerfile
docker-compose.yml

# Server related files
server.js
package.json
package-lock.json
script_old.js
