

/* Base reset for navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}



.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #007bff; /* Bright blue to highlight on hover */
}

/* Responsive adjustments might be needed for mobile views */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide nav links on smaller screens - consider a toggle button for mobile */
    }
    /* Add styles for mobile menu toggle button here */
}

/*  ----------------------------------------------- */
/* LOGO AND TITLE */
.logo img {
    height: 40px; /* Adjust based on your logo's size */
}
.site-title{
    display: flex;
    margin-left: 20px;
    font-size: 24px; /* Adjust the font size as needed */
}
.logo-and-title {
    display: flex;
    align-items: center;
}

.logo-and-title img {
    height: 40px; /* Adjust based on your logo's size */
}

/*  ----------------------------------------------- */
/* BODY */
body {
    font-family: Calibri, Helvetica, sans-serif; /* Fallback to Helvetica and sans-serif if Calibri is not available */
    text-align: center; /* Center align text */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Light grey color */
}

/*  ----------------------------------------------- */
/* FILTERS */

/* Center-align the filter container */

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}


/* Style labels for filter inputs */
.filter-input label {
    font-weight: bold;
}

/* Style input fields and selects */
.filter-input input[type="text"],
.filter-input select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

/* Style input fields and selects on focus */
.filter-input input[type="text"]:focus,
.filter-input select:focus {
    border-color: #007bff;
    outline: none;
}

/* Style filter buttons */
.filter-buttons button {
    background-color: #333; /* Dark grey background color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Style filter buttons on hover */
.filter-buttons button:hover {
    background-color: #555; /* Darker grey on hover */
    transform: scale(1.05);
}

/* Add a media query for mobile devices */
@media (max-width: 768px) {
    /* Stack filter elements vertically for screens up to 768px width */
    .filter-inputs {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Adjust spacing between filter elements */
    .filter-input {
        margin-bottom: 10px;
    }

    /* Center-align buttons on mobile */
    .filter-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


/*  --------------------------------------------------  */
/* GALLERY */

#gallery {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px;
    margin-top: 20px;
}

#gallery .gallery-item {
    width: 100%; /* Full width of the gallery */
    max-width: 600px; /* Maximum width of each item */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}


#gallery img {
    max-width: 100%; /* Adjust to the width of the gallery item */
    max-height: 90%; /* Set a max height for images */
    border-radius: 4px; /* Rounded corners for images */
}

.responsive-gif {
    width: 100%; /* Make the image width adjust to the container width */
    height: auto; /* Keep the aspect ratio of the image */
    max-height: 90%; /* Set a max height for images */

}

.step-and-style-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.step-name {
    font-weight: bold;
    font-size: 16px;
}

.style-name {
    font-weight: bold;
    color: grey;
    align-items: left;
    font-size: 14px;
}

/* Step Name and Style */
#gallery p {
    margin: 5px 0; /* Space above and below the text */
    font-size: 0.9em; /* Slightly smaller font size */
    text-align: center; /* Center align text */
}


.info {
    font-size: 0.8em; /* Smaller font size */
    color: #555; /* A discrete, darker grey color */
    margin: 5px 0; /* Some margin for spacing */
    line-height: 1.4; /* Adjust line height for readability */
    text-align: center; /* Center align text */
}
.info a {
    color: #007bff; /* A standard link color */
    text-decoration: none; /* Optional: removes underline from links */
}
.info a:hover {
    text-decoration: underline; /* Underline on hover for better user experience */
}

.privacypolicy {
    color: #555; /* A discrete, darker grey color */
    text-align: center; /* Center align text */
}
