body {
    font-family: Calibri, Helvetica, sans-serif; /* Fallback to Helvetica and sans-serif if Calibri is not available */
    text-align: center; /* Center align text */
    margin: 0;
    padding: 0;
}

title {
    font-family: Calibri, Helvetica, sans-serif; /* Fallback to Helvetica and sans-serif if Calibri is not available */
    text-align: center; /* Center align text */
}

/* Ensure Italic Font for 'database' Class */
#database p {
    font-style: italic;
}


/* Style for the filter inputs container */
.filter-inputs {
    display: flex;
    flex-wrap: wrap; /* Allow elements to wrap */
    gap: 5px; /* Space between filter inputs */
    width: 100%; /* Take full width */
}

/* Style for the filter buttons container */
.filter-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-top: 5px; /* Add margin for spacing */
    margin-right: 5px; /* Space between buttons */
}


.filter label,
.filter select,
.filter input {
    margin-right: 5px;
    margin-bottom: 10px; /* Add bottom margin for wrapping */
}

#gallery {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px;
    margin-top: 20px;
}

#gallery .gallery-item {
    width: 100%; /* Full width of the gallery */
    max-width: 600px; /* Maximum width of each item */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}


#gallery img {
    max-width: 100%; /* Adjust to the width of the gallery item */
    max-height: 90%; /* Set a max height for images */
    border-radius: 4px; /* Rounded corners for images */
}

.responsive-gif {
    width: 100%; /* Make the image width adjust to the container width */
    height: auto; /* Keep the aspect ratio of the image */
    max-height: 90%; /* Set a max height for images */

}

/* Step Name and Style */
#gallery p {
    margin: 5px 0; /* Space above and below the text */
    font-size: 0.9em; /* Slightly smaller font size */
    text-align: center; /* Center align text */
}


.info {
    font-size: 0.8em; /* Smaller font size */
    color: #555; /* A discrete, darker grey color */
    margin: 5px 0; /* Some margin for spacing */
    line-height: 1.4; /* Adjust line height for readability */
    text-align: center; /* Center align text */
}
.info a {
    color: #007bff; /* A standard link color */
    text-decoration: none; /* Optional: removes underline from links */
}
.info a:hover {
    text-decoration: underline; /* Underline on hover for better user experience */
}

